@tailwind base;
@tailwind components;
@tailwind utilities;

.sidebar {
    min-width: 250px;
    max-width: 250px;
    background-color: #f8f9fa;
}

.sidebar .nav-link {
    color: #333;
    padding: 10px;
}

.sidebar .nav-link.active {
    background-color: #007bff;
    color: white;
}

.sidebar .collapse {
    transition: height 0.3s ease;
}

.sidebar .collapse.show {
    height: auto;
}

.sidebar .nav-link:hover {
    background-color: #007bff;
    color: white;
}

body {
    
    background-color: #000000; /* เปลี่ยนสีพื้นหลังที่นี่ */
}

.container-fluid {
    padding: 20px;
}

.card {
    margin-bottom: 20px;
}

.card-header {
    background-color: #A54141;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.card-body {
    padding: 20px;
}

.text-center {
    text-align: center;
}
