/* resources/css/styles.css */

body {
    background-color: #A54141; /* เปลี่ยนสีพื้นหลังของหน้า */
}

.sidebar {
    min-width: 250px;
    max-width: 250px;
    background-color: #3498DB; /* เปลี่ยนสีพื้นหลังของ Sidebar ให้เป็นสีฟ้าสดใส */
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh; /* เพิ่มบรรทัดนี้เพื่อให้ sidebar ยาวลงมาจนถึงขอบล่าง */
}

.sidebar .nav-link {
    color: #000000; /* เปลี่ยนสีฟอนต์ของเมนูหลักให้เป็นสีขาว */
    padding: 10px;
}

.sidebar .nav-link.active {
    background-color: #2C3E50; /* สีพื้นหลังของเมนูที่ถูกเลือกให้เป็นสีเข้ม */
    color: white;
}

.sidebar .collapse {
    transition: height 0.3s ease;
}

.sidebar .collapse.show {
    height: auto;
}

.sidebar .nav-link:hover {
    background-color: #2C3E50; /* สีพื้นหลังของเมนูเมื่อ hover ให้เป็นสีเข้ม */
    color: white;
}

.sidebar .collapse .nav-link {
    color: #000000; /* เปลี่ยนสีฟอนต์ของเมนูย่อยให้เป็นสีขาว */
}

.logo {
    height: 100px;
    margin-bottom: 50px; /* ปรับค่าตามต้องการ */
}

.logo-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
